<ion-tabs color="black">


    <ng-container *ngIf="userType === 'individual'">
        <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
        <ion-tab [root]="tab2Root" tabBadge="{{dataService.messageBadge}}" tabBadgeStyle="main" tabIcon="text"></ion-tab>
        <ion-tab [root]="tab3Root" tabIcon="camera"></ion-tab>
        <ion-tab [root]="tab3Root" tabIcon="heart"> </ion-tab>
        <ion-tab [root]="tab4Root" tabBadge="{{dataService.notificationBadge}}" tabBadgeStyle="sender" tabIcon="notifications"> </ion-tab>
    </ng-container>
    <ng-container *ngIf="userType === 'business'">
            <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
            <ion-tab [root]="tab2Root" tabBadge="{{dataService.messageBadge}}" tabBadgeStyle="main" tabIcon="text"></ion-tab>
            <ion-tab [root]="tab3Root" tabIcon="camera"></ion-tab>
            <ion-tab [root]="tab4Root" tabBadge="{{dataService.notificationBadge}}" tabBadgeStyle="sender" tabIcon="notifications"> </ion-tab>            
            <ion-tab [root]="tab3Root" tabIcon="cog"> </ion-tab>
        </ng-container>
</ion-tabs>