page-bookings{

.toolbar-background {
  background: #000; /* For browsers that do not support gradients */

}

  .bookingsSettings{
background-color: #11131f;
    text-align: center;
    color: #ffffff;


    .input{

      background-color: transparent;
      text-align: center;
      border-color: #ffffff;
      border: solid;
      border-radius: 10px;
    }

    .item{

      color: #ffffff;
      background-color: transparent;
    }

    .label{
      font-family: gilroy;
    }


  }



}
