<!-- Generated template for the MenuComponent component -->
<ion-footer >
  <ion-toolbar >
    <ion-row>


      <ion-col col-4 text-center>
        <ion-icon style="font-size: 30px;" name="home" color="light" (click)="home()"></ion-icon>
      </ion-col>

      <ion-col col-4 text-center>
        <ion-icon style="font-size: 30px;" name="pin" color="light" (click)="venue()"></ion-icon>
      </ion-col>

      <ion-col col-4 text-center>
        <ion-icon style="font-size: 30px;" name="glasses" color="light" (click)="encounters()"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
