page-privacy {

  .toolbar-background {
    background: #000; /* For browsers that do not support gradients */

  }

  .privacy{

    color: #ffffff;
    background-color: #121521;

    .item{

      color: #ffffff;
      background-color: #191c29;
    }
  }

}
