page-settings {

  .toolbar-background {
    background: #000; /* For browsers that do not support gradients */

  }

  .settings{

    color: #ffffff;
    background-color: #191c29;

    .item{

      color: #ffffff;
      background-color: #191c29;
    }

  }



}
