<ion-header class="transparentBG">
    <ion-navbar>
        <ion-title>MESSAGES</ion-title>
    </ion-navbar>
    <div class="seperator"></div>
</ion-header>

<ion-content class="messages">
    <ion-segment [(ngModel)]="segment" color="dark">
        <ion-segment-button value="chats">
            CHATS
            <div class="seperator"></div>
        </ion-segment-button>
        <ion-segment-button value="active">
            ACTIVE NOW
            <div class="seperator"></div>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <ion-list no-lines *ngSwitchCase="'chats'">
            <p ion-text color="light">Recent Chats</p>
            <ion-scroll scrollX="true">
                <ion-item *ngFor="let conversation of conversations" class="scroll-item">
                    <ion-avatar>
                        <ion-badge color="secondary">•</ion-badge>
                        <img src="{{getAvatar(conversation)}}" />
                    </ion-avatar>
                    <h2 text-center>{{getName(conversation).split(' ')[0]}}</h2>
                </ion-item>
            </ion-scroll>
            <ion-item *ngFor="let conversation of conversations" (click)="openConversations(conversation)">
                <ion-avatar item-start large>
                    <img src="{{getAvatar(conversation)}}" style="object-fit: cover;">
                </ion-avatar>
                <h2>{{getName(conversation)}}</h2>
                <p>{{conversation.lastMessage}}</p>
                <p class="timedis" text-right>2 mins ago</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'active'">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="assets/img/thumbnail-kitten-1.jpg">
                </ion-thumbnail>
                <h2>Luna</h2>
            </ion-item>
        </ion-list>
    </div>
</ion-content>