page-new-event {

  color: #fff;

  .newPost{
    height: 100%;

    color:#000;

    background-color: #000000;

    .item{
      color: #ffffff;
      background-color: transparent;
      border-color: transparent;

    }

    .input{
      border: none;
      width: 100%;
      color:#ffffff;


    }

    textarea{
      color:#f4f4f4;

    }
    .datetime{
      font-family: gilroy-light;
    }




  }



  .row{
    color: #fff;



  }



}
