page-events {

  .events{

    min-height: 100%;
    background: #000;
    color: #ffffff;

    ion-slide{

      color: #ffffff;

      display: inline-block;
      background-size: cover;
      background-position: center;

    }
  }

  .post{
    display: inline-block;
    min-height: 50%;
    width: 100%;
    background-color: transparent;


    background-size: cover;
    background-position: center;

    border-top: solid;
    border-color: #000000;


  }

  .postInfo {
    width: 100%;
    height: 100%;
    background: rgba(62, 28, 107, 0.60);


    background-size: cover;
    background-position: center;
  }

  .col{
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }


  .menu{
    button{
      border:solid;
      border-color: rgba(255, 255, 255, 0.60);
    }
  }

}
