page-menu {

  .niceborder{
    border: solid;
    border-color: #402674;
    border-radius: 100%;
  }
  .menu{
   // background-color: rgba(123,105,169, 1);
    background: url(../assets/images/menubg.png) !important;
    background-size: cover !important;
    background-position: center !important;
    color:#fff;
    button{
        border:none;
    }
}
  .menuOption{
    display: inline-block;
    min-height: 40%;
    width: 33%;
    background-color: transparent;
    text-align: center;

    .option-text{
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    button{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

  }




  .custom-avatar {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    img{
      border:solid;
      border-color: #fff;
      border-radius: 50%;
      height: 120px;
      width:120px;

    }

    height: 120px;
    width:120px;

  }



}
